# Venv
venv

# IDE Settings
.idea

# Jupyter Notebooks
notebooks
*.ipynb_checkpoints

# Python cache
__pycache__

# .env files
env/.env.api_key
env/.env.iam_token_generation
env/.env.iam_token_generation_base64

# egg-info
*.egg-info

# Docs build
docs/build
